@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 400ms linear;
}

body {
  outline: none;
  font-family: "Syne", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}


h2 {
  font-size: x-large;
  font-weight: bold;
}


h3 {
  font-size: large;
  font-weight: bold;
}

.max {
  max-width: 1300px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  height: 25px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}

.loader:after {
  --s: -1;
}

@keyframes l2 {
  100% {
    transform: rotate(calc(var(--s, 1)*1turn))
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}